.navbar-default .navbar-nav>li>a{font-weight:bold;color:#fff;}
        .navbar-default .navbar-nav>li>a:hover{color:#fff;text-decoration: underline;}
        body,a{color:#fff;}
        li{list-style: none;}
            h3,label{color:#fff;}
             .background{background-image: url('/images/Abstract.jpg');background-size: 100% 120%;
        background-position: 50% 100%;}
        footer{border-top:1px solid #fff;padding:10px 0 10px 0;text-align:center;background: #444;}